body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 2rem;
  background-color: rgb(233, 233, 233);
}
#about {
  padding-top: 2rem;
}
#project {
  background-color: rgb(109, 109, 255);
  color: white;
}

footer {
  background-color: rgb(109, 109, 255);
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}
